
.dice-container {
    text-align: center;
    margin-top: 20px;
}

.dice {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dice:hover {
    background-color: #0056b3;
}

#my-orders-button {
    padding: 10px 20px; /* Подходящие отступы для кнопки */
    font-size: 16px; /* Размер шрифта текста на кнопке */
    background-color: #007bff; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста на кнопке */
    border: none; /* Убираем границу кнопки */
    border-radius: 5px; /* Закругление углов кнопки */
    cursor: pointer; /* Изменяем курсор при наведении */
    transition: background-color 0.3s ease; /* Плавное изменение цвета фона */
}

/* Стили для кнопки "My Orders" при наведении */
#my-orders-button:hover {
    background-color: #0056b3; /* Темный оттенок для активного состояния */
}

.logout-button, #my-orders-button {
    background-color: #ff4444;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.logout-button:hover, #my-orders-button:hover {
    background-color: #cc0000;
}