<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shopping</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylestest.css">
</head>
<body>

<div class="container mt-5">
    <div id="weather-container" class="weather-container">
        <div class="weather-location">Баку</div>
        <div class="weather-temperature" id="weather-temperature">--°C</div>
        <img class="weather-icon" id="weather-icon" src="" alt="Иконка погоды">
        <div class="weather-description" id="weather-description">Загрузка...</div>
    </div>

    <div class="auth-links text-center mb-4">
        <div id="auth-links-logged-out">
            <a href="/login" class="btn btn-primary">Войти</a>
            <a href="/register" class="btn btn-secondary">Зарегистрироваться</a>
        </div>
        <div id="auth-links-logged-in" style="display:none;">
            <span>Добро пожаловать, <span id="customer-name">Пользователь</span>!</span>
            <button class="btn btn-danger" onclick="logoutUser()">Выйти</button>
            <button id="my-orders-button" class="btn btn-info" onclick="viewCustomerOrders()">Мои заказы</button>
            <a href="wishlist.html" class="btn btn-warning">Мой список желаний</a>
        </div>
    </div>

    <div class="text-center mb-4">
        <img src="/static/istck.jpg" alt="Изображение приветствия" class="img-fluid header-image">
    </div>

    <div class="search-bar input-group mb-4">
        <input type="text" id="search-input" class="form-control" placeholder="Поиск...">
        <div class="input-group-append">
            <button id="search-button" class="btn btn-outline-secondary">Поиск</button>
        </div>
    </div>

    <button id="all-categories-button" class="btn btn-outline-primary mb-4">Все категории</button>

    <ul id="categories-section" class="list-group mb-4"></ul>

    <div id="products-section" class="row">
        <div class="col-md-4" th:each="product : ${products.content}" th:data-product-id="${product.id}">
            <div class="card product-card">
                <img th:src="${product.imageUrl}" alt="Изображение продукта" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.name}"></h5>
                    <p class="card-text" th:text="${product.categoryName}"></p>
                    <p class="card-text price" th:if="${product.discountPrice != null}">
                        <span class="original-price text-muted" th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}"></span>
                        <span class="discounted-price text-danger" th:text="${#numbers.formatDecimal(product.discountPrice, 0, 'COMMA', 2, 'POINT')}"></span>
                    </p>
                    <p class="card-text price" th:if="${product.discountPrice == null}">
                        <span th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}"></span>
                    </p>
                    <div class="quantity input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary quantity-btn" onclick="decrementQuantity(this)">-</button>
                        </div>
                        <input type="number" class="form-control quantity-input" value="1" min="1">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary quantity-btn" onclick="incrementQuantity(this)">+</button>
                        </div>
                    </div>
                    <div class="rating mb-3" data-product-id="${product.id}">
                        <span class="star" data-value="5" onclick="rateProduct(this)">☆</span>
                        <span class="star" data-value="4" onclick="rateProduct(this)">☆</span>
                        <span class="star" data-value="3" onclick="rateProduct(this)">☆</span>
                        <span class="star" data-value="2" onclick="rateProduct(this)">☆</span>
                        <span class="star" data-value="1" onclick="rateProduct(this)">☆</span>
                    </div>
                    <div class="average-rating">
                        <!-- Средний рейтинг продукта будет здесь -->
                    </div>
                    <button class="btn btn-success btn-block make-order-button" onclick="makeOrder(this.closest('.product-card').getAttribute('data-product-id'))">Оформить заказ</button>
                    <span class="heart" onclick="toggleFavorite(this)">♡</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Пагинация -->
    <nav aria-label="Page navigation" class="my-4">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:if="${products.hasPrevious()}">
                <a class="page-link" th:href="@{/ (page=${products.number})}">Предыдущая</a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(1, products.totalPages)}" th:if="${i >= products.number - 2 && i <= products.number + 2}">
                <a class="page-link" th:href="@{/ (page=${i})}" th:text="${i}" th:classappend="${i == products.number + 1} ? 'active' : ''"></a>
            </li>
            <li class="page-item" th:if="${products.hasNext()}">
                <a class="page-link" th:href="@{/ (page=${products.number + 2})}">Следующая</a>
            </li>
        </ul>
    </nav>

    <div class="dice-container text-center my-4">
        <button class="btn btn-warning dice" onclick="rollDice()">Бросить кости</button>
    </div>

    <button id="back-button" class="btn btn-outline-secondary" style="display: none;">Назад</button>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>



<script>


    function toggleFavorite(element) {
        const isFavorite = element.classList.toggle('favorite');
        if (isFavorite) {
            addToWishlist(element);
        } else {
            removeFromWishlist(element);
        }
    }

    // Функция для загрузки состояния избранного при загрузке страницы
    function loadFavorites() {
        const productCards = document.querySelectorAll('.product-card');
        const customerId = localStorage.getItem('customerId');

        if (!customerId) {
            console.error('Customer ID not found in localStorage');
            return;
        }

        const favorites = JSON.parse(localStorage.getItem(`favorites_${customerId}`)) || [];

        productCards.forEach(card => {
            const productId = card.getAttribute('data-product-id');
            const heart = card.querySelector('.heart');

            if (favorites.includes(productId)) {
                heart.classList.add('favorite');
            } else {
                heart.classList.remove('favorite');
            }
        });
    }

    // Функция для добавления продукта в избранное
    function addToWishlist(element) {
        const productCard = element.closest('.product-card');
        if (!productCard) {
            console.error('Parent product-card not found');
            return;
        }

        const productId = productCard.getAttribute('data-product-id');
        const customerId = localStorage.getItem('customerId');
        const accessToken = localStorage.getItem('access_token');

        if (!customerId || !accessToken) {
            console.error('Customer ID or AccessToken not found in localStorage');
            return;
        }

        let favorites = JSON.parse(localStorage.getItem(`favorites_${customerId}`)) || [];

        if (!favorites.includes(productId)) {
            favorites.push(productId);
            localStorage.setItem(`favorites_${customerId}`, JSON.stringify(favorites));

            const url = '/wishlist/addProduct';
            const data = { customerId: customerId, productId: productId };

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${accessToken}`
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    if (response.ok) {
                        console.log('Product added to wishlist successfully');
                        element.classList.add('favorite');
                    } else {
                        console.error('Failed to add product to wishlist');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    }

    // Функция для удаления продукта из избранного
    function removeFromWishlist(element) {
        const productCard = element.closest('.product-card');
        if (!productCard) {
            console.error('Parent product-card not found');
            return;
        }

        const productId = productCard.getAttribute('data-product-id');
        const customerId = localStorage.getItem('customerId');
        const accessToken = localStorage.getItem('access_token');

        if (!customerId || !accessToken) {
            console.error('Customer ID or AccessToken not found in localStorage');
            return;
        }

        let favorites = JSON.parse(localStorage.getItem(`favorites_${customerId}`)) || [];
        favorites = favorites.filter(id => id !== productId);
        localStorage.setItem(`favorites_${customerId}`, JSON.stringify(favorites));

        const url = `/wishlist/removeProduct?customerId=${customerId}&productId=${productId}`;

        fetch(url, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${accessToken}`
            }
        })
            .then(response => {
                if (response.ok) {
                    console.log('Product removed from wishlist successfully');
                    element.classList.remove('favorite');
                } else {
                    console.error('Failed to remove product from wishlist');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    // Вызов loadFavorites() при загрузке страницы
    window.addEventListener('load', loadFavorites);

    // Обработчик клика на сердечко (добавление или удаление из избранного)
    // document.querySelectorAll('.heart').forEach(heart => {
    //     heart.addEventListener('click', function() {
    //         const isFavorite = heart.classList.contains('favorite');
    //         if (isFavorite) {
    //             removeFromWishlist(heart);
    //         } else {
    //             addToWishlist(heart);
    //         }
    //     });
    // });



    document.addEventListener('DOMContentLoaded', function() {
        const productsSection = document.getElementById('products-section');

        // Обработчик кликов на карточки продуктов
        productsSection.addEventListener('click', function(event) {
            const card = event.target.closest('.product-card');
            const image = event.target.closest('.product-card img'); // Находим ближайшее изображение в карточке
            if (card && image) {
                const productId = card.getAttribute('data-product-id');
                savePageState(); // Сохраняем состояние страницы
                window.location.href = `/product-details?id=${productId}`;
            }
        });
    });



    function checkTokenExpiration() {
        const refreshTokenExpiration = localStorage.getItem('refresh_token_expiration');
        const currentTime = new Date().getTime() / 1000;

        if (refreshTokenExpiration && currentTime > refreshTokenExpiration) {
            logout(); // Если refreshToken истек, разлогиниваем пользователя
        } else {
            refreshToken(); // Обновляем refreshToken, если он действителен
        }
    }

    setInterval(checkTokenExpiration, 75000);


    document.addEventListener('DOMContentLoaded', function() {
        const accessToken = localStorage.getItem('access_token');
        const rollDiceButton = document.querySelector('.dice');

        if (!accessToken) {
            rollDiceButton.style.display = 'none';
        } else {
            rollDiceButton.style.display = 'inline-block'; // или 'block', в зависимости от вашего стиля
        }
    });

    function rollDice() {
        const accessToken = localStorage.getItem('access_token');
        if (!accessToken) {
            console.error('Access token not found. Unable to roll dice.');
            return;
        }

        const customerId = localStorage.getItem('customerId');
        const productId = 5; // ID продукта iPhone 15
        const url = `/api/roll-dice?customerId=${customerId}&productId=${productId}`;

        fetch(url, {
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${accessToken}`
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to roll dice');
                }
                return response.json();
            })
            .then(data => {
                handleDiceRollResult(data);
            })
            .catch(error => {
                console.error('Error rolling dice:', error);
                // Обработка ошибки, если не удалось выполнить бросок костей
            });
    }

    function handleDiceRollResult(result) {
        const diceContainer = document.querySelector('.dice-container');

        // Clear the container before adding new results
        diceContainer.innerHTML = '';

        // Create elements to display dice roll results
        const resultMessage = document.createElement('p');
        resultMessage.textContent = `Первая кость: ${result.die1}, Вторая кость: ${result.die2}`;
        diceContainer.appendChild(resultMessage);

        // Create image elements for the rolled dice
        const dice1Image = document.createElement('img');
        dice1Image.src = `/static/dice${result.die1}.jpg`; // Путь к изображению для первой кости
        dice1Image.alt = `Dice ${result.die1}`;
        diceContainer.appendChild(dice1Image);

        const dice2Image = document.createElement('img');
        dice2Image.src = `/static/dice${result.die2}.jpg`; // Путь к изображению для второй кости
        dice2Image.alt = `Dice ${result.die2}`;
        diceContainer.appendChild(dice2Image);

        // Handle discount applied logic
        if (result.discountApplied) {
            if (result.die1 === 6 && result.die2 === 6) {
                alert('Выпало 6 на обеих костях! Применён скидочный купон на продукт.');
                // Дополнительная логика для применения скидки на продукт
            } else {
                alert('Бросок выполнен, но не выпало две шестёрки.');
            }
        } else {
            alert('Бросок уже выполнен для этого пользователя и продукта.');
        }
    }

    // document.addEventListener('DOMContentLoaded', function() {
    //     fetchWeatherForBaku();
    //     checkTokenExpiration();
    //     const accessToken = sessionStorage.getItem('access_token');
    //     if (accessToken) {
    //         fetchUserInfo(accessToken);
    //     } else {
    //         hideMakeOrderButtonAndQuantity();
    //     }
    // });
    function viewCustomerOrders() {
        const accessToken = localStorage.getItem('access_token');
        const customerId = localStorage.getItem('customerId');

        if (!accessToken || !customerId) {
            console.error('Access token or customer ID is missing.');
            return;
        }

        // Переходим на страницу с заказами, передав параметры через URL
        window.location.href = `/customer-order.html?customerId=${customerId}&accessToken=${accessToken}`;
    }

    function fetchWeatherForBaku() {
        fetch('/weather')
            .then(response => response.json())
            .then(data => {
                document.getElementById('weather-temperature').textContent = `${data.temperature}°C`;
                document.getElementById('weather-icon').src = data.iconUrl;
                document.getElementById('weather-description').textContent = data.description;
            })
            .catch(error => {
                console.error('Error fetching weather data:', error);
                document.getElementById('weather-description').textContent = 'Ошибка при загрузке данных о погоде';
            });
    }

    document.addEventListener('DOMContentLoaded', function() {
        fetchWeatherForBaku();
        checkTokenExpiration();
        const accessToken = localStorage.getItem('access_token');
        if (accessToken) {
            fetchUserInfo(accessToken);
        } else {
            hideMakeOrderButtonAndQuantity();
        }
    });


    function showMakeOrderButtonAndQuantity() {
        const makeOrderButtons = document.querySelectorAll('.make-order-button');
        const quantityInputs = document.querySelectorAll('.quantity-input');
        const quantityButtons = document.querySelectorAll('.quantity-btn');

        makeOrderButtons.forEach(button => button.style.display = 'block');
        quantityInputs.forEach(input => input.style.display = 'block');
        quantityButtons.forEach(button => button.style.display = 'block');
    }

    function hideMakeOrderButtonAndQuantity() {
        const makeOrderButtons = document.querySelectorAll('.make-order-button');
        const quantityInputs = document.querySelectorAll('.quantity-input');
        const quantityButtons = document.querySelectorAll('.quantity-btn');

        makeOrderButtons.forEach(button => button.style.display = 'none');
        quantityInputs.forEach(input => input.style.display = 'none');
        quantityButtons.forEach(button => button.style.display = 'none');
    }

    function fetchUserInfo(accessToken) {
        fetch('/user/me', {
            method: 'GET',
            headers: {
                'Authorization': 'Bearer ' + accessToken
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to fetch user info');
                }
                return response.json();
            })
            .then(data => {
                showMakeOrderButtonAndQuantity(); // Добавляем вызов функции showMakeOrderButtonAndQuantity()
                document.getElementById('auth-links-logged-out').style.display = 'none';
                document.getElementById('auth-links-logged-in').style.display = 'block';
                document.getElementById('customer-name').textContent = data.name;
                localStorage.setItem('customerId', data.id);
                localStorage.setItem('customerName', data.name);
            })
            .catch(error => {
                console.error('Error fetching user info:', error);
                logout();
            });
    }

    // function checkTokenExpiration() {
    //     const accessTokenExpiration = sessionStorage.getItem('access_token_expiration');
    //     const refreshTokenExpiration = sessionStorage.getItem('refresh_token_expiration');
    //     const currentTime = new Date().getTime() / 1000;
    //     if (accessTokenExpiration && currentTime > accessTokenExpiration) {
    //         if (refreshTokenExpiration && currentTime > refreshTokenExpiration) {
    //             logout();
    //         } else {
    //             refreshToken();
    //         }
    //     }
    // }


    function refreshToken() {
        const refreshToken = localStorage.getItem('refresh_token');
        return fetch('/home/refresh', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ refreshToken: refreshToken })
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to refresh access token');
                }
                return response.json();
            })
            .then(data => {
                const { accessToken, refreshToken } = data;
                const currentTime = new Date().getTime();
                const accessTokenExpiration = currentTime + 30000; // 30 секунд
                const refreshTokenExpiration = currentTime + 60000; // 1 минута

                localStorage.setItem('access_token', accessToken);
                localStorage.setItem('access_token_expiration', accessTokenExpiration.toString());
                localStorage.setItem('refresh_token', refreshToken);
                localStorage.setItem('refresh_token_expiration', refreshTokenExpiration.toString());
            });
    }

    function logout() {
        // Очистить токены и другие данные пользователя
        localStorage.removeItem('access_token');
        localStorage.removeItem('refresh_token');
        localStorage.removeItem('access_token_expiration');

        // Перенаправить пользователя на страницу входа или выполнить другие действия
        window.location.href = '/login';
    }

    function logoutUser() {

        fetch('/logout', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (response.ok) {
                    // Удаление токенов и других данных о пользователе из localStorage или sessionStorage
                    localStorage.removeItem('access_token');
                    localStorage.removeItem('refresh_token');
                    localStorage.removeItem('customerName');
                    localStorage.removeItem('customerId');
                    // Перенаправление на главную страницу
                    window.location.href = '/';
                } else {
                    console.error('Failed to logout:', response.statusText);

                }
            })
            .catch(error => {
                console.error('Error during logout:', error);
            });
    }

    // Проверять срок действия токена


    const categoriesSection = document.getElementById('categories-section');
    const allCategoriesButton = document.getElementById('all-categories-button');
    const searchInput = document.getElementById('search-input');
    const searchButton = document.getElementById('search-button');
    const backButton = document.getElementById('back-button'); // Добавляем кнопку "Back"

    const productsSection = document.getElementById('products-section');
    const pagination = document.querySelector('.pagination');
    const diceContainer = document.querySelector('.dice-container');

    let pageStateHistory = []; // История состояний страницы

    // Функция сохранения состояния страницы
    function savePageState() {
        const state = {
            productsHTML: productsSection.innerHTML,
            backButtonDisplay: backButton.style.display,
            allCategoriesButtonDisplay: allCategoriesButton.style.display,
            searchInputValue: searchInput.value.trim(),
            paginationDisplay: pagination.style.display // Сохраняем текущее состояние пагинации
            // Добавьте другие необходимые параметры состояния
        };

        pageStateHistory.push(state); // Сохраняем текущее состояние в историю
    }

    // Функция восстановления состояния страницы
    function restorePageState(state) {
        if (state) {
            productsSection.innerHTML = state.productsHTML;
            backButton.style.display = state.backButtonDisplay;
            allCategoriesButton.style.display = state.allCategoriesButtonDisplay;
            searchInput.value = state.searchInputValue;

            // Восстановление видимости пагинации на главной странице
            if (window.location.pathname === '/') {
                pagination.style.display = state.paginationDisplay;
            }

            // Восстановление обработчиков событий на карточки продуктов
            const productCards = document.querySelectorAll('.product-card');
            productCards.forEach(card => {
                card.addEventListener('click', productCardClickHandler);
            });
        }
    }

    function productCardClickHandler() {
        const productId = this.getAttribute('data-product-id');
        savePageState(); // Сохраняем состояние страницы перед переходом на страницу продукта
        window.location.href = `/product-details?id=${productId}`;
    }

    document.addEventListener('DOMContentLoaded', function() {
        // Предполагаем, что pageStateHistory уже определен и содержит историю состояний
        if (pageStateHistory && pageStateHistory.length > 0) {
            // Восстанавливаем последнее состояние
            const lastState = pageStateHistory[pageStateHistory.length - 1];
            restorePageState(lastState);
        }
    });

    // Слушатель для кнопки поиска
    searchButton.addEventListener('click', function() {
        const keyword = searchInput.value.trim();
        if (keyword !== '') {
            // Сохраняем текущее состояние перед выполнением поиска
            savePageState();

            // Выполняем поиск и обрабатываем результаты
            fetch(`/home/search?keyword=${encodeURIComponent(keyword)}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to search products');
                    }
                    return response.json();
                })
                .then(products => {
                    // Очищаем текущее содержимое секции продуктов
                    productsSection.innerHTML = '';

                    if (products.length === 0) {
                        productsSection.innerHTML = '<p>No products found.</p>';
                        return;
                    }

                    // Вставляем найденные продукты в секцию продуктов
                    products.forEach(product => {
                        const productCard = document.createElement('div');
                        productCard.className = 'product-card';
                        productCard.dataset.productId = product.id; // Устанавливаем data-атрибут с ID продукта
                        productCard.innerHTML = `
                        <img src="${product.imageUrl || 'default-image-url.jpg'}" alt="Product Image">
                        <h3>${product.name || 'Unnamed'}</h3>
                        <p>${product.description || 'No description available.'}</p>
                        <p class="price">
                            ${product.discountPrice ?
                            `<span class="original-price">${product.price}</span>
                                <span class="discounted-price">${product.discountPrice}</span>` :
                            `<span>${product.price}</span>`}
                        </p>
                        <div class="quantity">
                            <button class="quantity-btn" onclick="decrementQuantity(this)">-</button>
                            <input type="number" class="quantity-input" value="1" min="1">
                            <button class="quantity-btn" onclick="incrementQuantity(this)">+</button>
                        </div>
                        <div class="rating" data-product-id="${product.id}">
                            <span class="star" data-value="5" onclick="rateProduct(this)">☆</span>
                            <span class="star" data-value="4" onclick="rateProduct(this)">☆</span>
                            <span class="star" data-value="3" onclick="rateProduct(this)">☆</span>
                            <span class="star" data-value="2" onclick="rateProduct(this)">☆</span>
                            <span class="star" data-value="1" onclick="rateProduct(this)">☆</span>
                        </div>
                        <div class="average-rating"></div> <!-- Контейнер для среднего рейтинга -->
                        <button class="make-order-button" onclick="makeOrder('${product.id}')">Make Order</button>
                    `;
                        productsSection.appendChild(productCard);

                        // Загружаем и обновляем рейтинг продукта после создания карточки
                        updateAverageRating(product.id);
                    });

                    // Скрываем пагинацию
                    pagination.style.display = 'none';

                    // Скрываем раздел "Бросить кости"
                    diceContainer.style.display = 'none';

                    // Скрываем кнопку "All Categories"
                    allCategoriesButton.style.display = 'none';

                    // Показываем кнопку "Back"
                    backButton.style.display = 'block';

                    // Сохраняем текущее состояние перед отображением продуктов поиска
                    savePageState();
                })
                .catch(error => {
                    console.error('Error searching products:', error);
                    productsSection.innerHTML = '<p>Error searching products. Please try again later.</p>';

                    // Восстанавливаем пагинацию при ошибке
                    pagination.style.display = 'block';

                    // Восстанавливаем раздел "Бросить кости" при ошибке
                    diceContainer.style.display = 'block';

                    // Восстанавливаем кнопку "All Categories" при ошибке
                    allCategoriesButton.style.display = 'block';

                    // Скрываем кнопку "Back" при ошибке
                    backButton.style.display = 'none';
                });
        }
    });



    // Слушатель для кнопки "Back"
    // backButton.addEventListener('click', function() {
    //     // Восстановление предыдущего состояния страницы
    //     const prevState = pageStateHistory.pop(); // Извлекаем последнее сохраненное состояние
    //     restorePageState(prevState);
    //
    //     // Очистка поля ввода поиска, если оно не пустое
    //     if (searchInput.value.trim() !== '') {
    //         searchInput.value = '';
    //     }
    //
    //     // Скрываем список категорий после возврата
    //     categoriesSection.style.display = 'none';
    //     categoriesShown = false;
    // });

    let categoriesShown = false;

    allCategoriesButton.addEventListener('mouseenter', function() {
        if (!categoriesShown) {
            fetch('/home/categories')
                .then(response => response.json())
                .then(categories => {
                    categoriesSection.innerHTML = '';
                    categories.forEach(category => {
                        const categoryItem = document.createElement('li');
                        categoryItem.className = 'category-card';
                        categoryItem.innerHTML = `
                        <h3 class="category-name" data-category-id="${category.categoryId}">${category.name}</h3>
                    `;
                        categoriesSection.appendChild(categoryItem);
                    });
                    categoriesSection.style.display = 'flex';
                    categoriesShown = true;

                    // Сохраняем текущее состояние страницы при открытии категорий
                    savePageState();
                })
                .catch(error => console.error('Ошибка при загрузке категорий:', error));
        }
    });

    // Слушатель для кликов по категориям (добавьте ваш существующий обработчик события здесь)
    categoriesSection.addEventListener('click', function(event) {
        const target = event.target;
        if (target.classList.contains('category-name')) {
            const categoryId = target.dataset.categoryId;
            if (categoryId) {
                loadProducts(categoryId);
            }
        }
    });

    // Слушатель для скрытия категорий при перемещении мыши
    document.addEventListener('mouseover', function(event) {
        const target = event.target;
        if (!target.closest('#all-categories-button') && !target.closest('#categories-section')) {
            if (!categoriesSection.dataset.productsShown) {
                categoriesSection.style.display = 'none';
                categoriesShown = false;
            }
        }
        checkTokenAvailability();
    });




    // Проверяем наличие токена при загрузке страницы


    // Функция сохранения состояния страницы (добавьте вашу существующую функцию здесь)


    function checkTokenAvailability() {
        const accessToken = localStorage.getItem('access_token');
        const productCards = document.querySelectorAll('.product-card');

        productCards.forEach(card => {
            const makeOrderButton = card.querySelector('button[data-action="make-order"]');
            if (makeOrderButton) {
                if (accessToken) {
                    makeOrderButton.style.display = 'block';
                } else {
                    makeOrderButton.style.display = 'none';
                }
            }

            const quantityButtons = card.querySelectorAll('.quantity-btn');
            const quantityInput = card.querySelector('.quantity-input');
            if (quantityInput) {
                if (accessToken) {
                    quantityButtons.forEach(button => {
                        button.style.display = 'inline-block';
                    });
                    quantityInput.style.display = 'inline-block';
                } else {
                    quantityButtons.forEach(button => {
                        button.style.display = 'none';
                    });
                    quantityInput.style.display = 'none';
                }
            }

            const ratingStars = card.querySelectorAll('.rating .star');
            if (ratingStars.length > 0) {
                if (accessToken) {
                    ratingStars.forEach(star => {
                        star.style.display = 'inline-block';
                    });
                } else {
                    ratingStars.forEach(star => {
                        star.style.display = 'none';
                    });
                }
            }
        });
    }



    function loadProducts(categoryId) {
        // Сохранение текущего состояния перед загрузкой продуктов
        savePageState();

        fetch(`/home/${categoryId}/products`)
            .then(response => response.json())
            .then(products => {
                localStorage.setItem('products', JSON.stringify(products));
                productsSection.innerHTML = '';

                if (products.length === 0) {
                    productsSection.innerHTML = '<p>В этой категории нет доступных товаров.</p>';
                    return;
                }

                products.forEach(product => {
                    const productCard = document.createElement('div');
                    productCard.className = 'product-card';
                    productCard.dataset.productId = product.id;
                    productCard.innerHTML = `
                <img src="${product.imageUrl}" alt="Изображение товара">
                <h3>${product.name}</h3>
                <p>${product.description}</p>
                <p class="price">
                    ${product.discountPrice ? `
                        <span class="original-price">${product.price}</span>
                        <span class="discounted-price">${product.discountPrice}</span>` :
                        `<span>${product.price}</span>`}
                </p>
                <div class="quantity">
                    <button data-action="quantity-btn" class="quantity-btn" onclick="decrementQuantity(this)" style="display: none;">-</button>
                    <input type="number" class="quantity-input" value="1" min="1">
                    <button data-action="quantity-btn" class="quantity-btn" onclick="incrementQuantity(this)" style="display: none;">+</button>
                </div>
                <button data-action="make-order" onclick="makeOrder(${product.id})" style="display: none;">Make Order</button>
                <div class="rating">
                    ${localStorage.getItem('access_token') ? `
                        <span class="star" data-value="1" onclick="rateProduct(this)">☆</span>
                        <span class="star" data-value="2" onclick="rateProduct(this)">☆</span>
                        <span class="star" data-value="3" onclick="rateProduct(this)">☆</span>
                        <span class="star" data-value="4" onclick="rateProduct(this)">☆</span>
                        <span class="star" data-value="5" onclick="rateProduct(this)">☆</span>` :
                        ''}
                </div>
                <div class="average-rating"></div>
            `;
                    productsSection.appendChild(productCard);

                    productCard.addEventListener('click', () => {
                        savePageState(); // Сохраняем состояние страницы перед переходом на страницу продукта
                        window.location.href = `/product-details?id=${product.id}`;
                    });

                    // После добавления карточки продукта, обновляем средний рейтинг и звездочки
                    updateAverageRating(product.id);
                    // updateStars(product.id, parseInt(localStorage.getItem(`product_${product.id}_rating`)) || 0); // Обновляем звездочки, если оценка уже есть
                });

                // Скрытие пагинации после загрузки продуктов категории
                hidePagination();

                // Проверяем наличие токена после загрузки продуктов
                checkTokenAvailability();
            })
            .catch(error => {
                console.error('Ошибка при загрузке продуктов:', error);
                productsSection.innerHTML = '<p>Ошибка загрузки продуктов. Пожалуйста, попробуйте позже.</p>';
            });

        // Скрытие элементов на текущей странице
        diceContainer.style.display = 'none';
        backButton.style.display = 'block'; // Показ кнопки "Back"
        searchInput.value = ''; // Очистка значения поискового поля
    }

    function hidePagination() {
        pagination.style.display = 'none';
    }

    function showPagination() {
        pagination.style.display = 'block';
    }

    backButton.addEventListener('click', function() {
        // Восстановление предыдущего состояния страницы
        const prevState = pageStateHistory.pop(); // Извлекаем последнее сохраненное состояние
        restorePageState(prevState);

        // Очистка поля ввода поиска, если оно не пустое
        if (searchInput.value.trim() !== '') {
            searchInput.value = '';
        }

        // Проверяем, нужно ли показывать пагинацию на главной странице после возврата
        if (window.location.pathname === '/home') {
            showPagination(); // Показываем пагинацию на главной странице
        }

        categoriesSection.style.display = 'none';
        categoriesShown = false;
    });


    function makeOrder(productId) {
        // Log the productId for debugging purposes
        console.log('Product ID:', productId);

        // Retrieve access token from local storage
        let accessToken = localStorage.getItem('access_token');

        // Check if access token is missing
        if (!accessToken) {
            console.log('Access token is missing.');
            return;
        }

        // Use template literals for selector to find the product card
        const productCard = document.querySelector(`.product-card[data-product-id="${productId}"]`);
        // Log the selector used to find the product card
        console.log('Product Card Selector:', `.product-card[data-product-id="${productId}"]`);
        // Log the found product card element
        console.log('Product Card:', productCard);

        // Check if product card was not found
        if (!productCard) {
            console.error('Product card not found');
            return;
        }

        // Find the quantity input field within the product card
        const quantityInput = productCard.querySelector('.quantity-input');
        // Log the quantity input element
        console.log('Quantity Input:', quantityInput);

        // Parse the quantity input value to ensure it's a valid number
        const quantity = parseInt(quantityInput.value);
        // Log the parsed quantity value
        console.log('Quantity:', quantity);

        // Check if quantity is not a number or less than 1
        if (isNaN(quantity) || quantity < 1) {
            alert('Invalid quantity.');
            return;
        }

        // Create an order request object with product quantities
        const orderRequest = {
            productQuantities: {}
        };

        // Add the selected product and its quantity to the order request
        orderRequest.productQuantities[productId] = quantity;

        // Function to fetch the order
        function fetchOrder() {
            fetch('/home/makeOrder', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + accessToken
                },
                body: JSON.stringify(orderRequest)
            })
                .then(response => {
                    // Handle case where response status is 401 (Unauthorized)
                    if (response.status === 401) {
                        // Attempt to refresh access token and retry order request
                        return refreshToken().then(({ newAccessToken, newRefreshToken }) => {
                            accessToken = newAccessToken;
                            localStorage.setItem('access_token', newAccessToken);
                            localStorage.setItem('refresh_token', newRefreshToken);
                            return fetchOrder();
                        });
                    }
                    // Handle case where response is not ok
                    if (!response.ok) {
                        // Parse response body as JSON and throw an error with its message
                        return response.json().then(error => {
                            throw new Error(error.message);
                        });
                    }
                    // Parse response body as JSON and return the data
                    return response.json();
                })
                .then(data => {
                    // Log success message with the returned data
                    console.log('Order placed successfully:', data);
                    // Store the orderId in local storage
                    localStorage.setItem('orderId', data.orderId);
                    // Redirect user to order details page
                    window.location.href = 'order-details';
                })
                .catch(error => {
                    // Check if error message indicates insufficient quantity
                    if (error.message.includes('Insufficient quantity')) {
                        alert('Insufficient quantity for the selected product.');
                    } else if (error.message === 'Insufficient balance') {
                        // Handle case where error message indicates insufficient balance
                        alert('Insufficient balance. Please add funds to your account.');
                    } else if (error.message === 'Unauthorized') {
                        // Redirect user to login page if error message indicates unauthorized access
                        window.location.href = '/login';
                    } else {
                        // Handle other errors with an alert and redirect to login page
                        alert('Error: ' + error.message);
                        window.location.href = '/login';
                    }
                    // Log the error message to the console
                    console.error('Error making order:', error);
                });
        }

        // Initiate the fetchOrder function to start the order process
        fetchOrder();
    }

    function incrementQuantity(element) {
        const productCard = element.closest('.product-card');
        const quantityInput = productCard.querySelector('.quantity-input');
        let value = parseInt(quantityInput.value);
        if (!isNaN(value)) {
            quantityInput.value = value + 1;
        }
    }

    function decrementQuantity(element) {
        const productCard = element.closest('.product-card');
        const quantityInput = productCard.querySelector('.quantity-input');
        let value = parseInt(quantityInput.value);
        if (!isNaN(value) && value > 1) {
            quantityInput.value = value - 1;
        }
    }




    document.addEventListener('DOMContentLoaded', function() {
        // Загружаем и отображаем средний рейтинг для каждого продукта
        const productCards = document.querySelectorAll('.product-card');
        productCards.forEach(card => {
            const productId = card.getAttribute('data-product-id');

            // Отправляем запрос на сервер для получения среднего рейтинга продукта
            fetch(`/products/${productId}/rating`)
                .then(response => response.json())
                .then(averageRating => {
                    // Находим контейнер для среднего рейтинга в текущей карточке продукта
                    const averageRatingContainer = card.querySelector('.average-rating');
                    // Очищаем контейнер
                    averageRatingContainer.innerHTML = '';
                    // Создаем звездочки для отображения среднего рейтинга
                    for (let i = 1; i <= 5; i++) {
                        const star = document.createElement('span');
                        star.textContent = i <= averageRating ? '★' : '☆';
                        averageRatingContainer.appendChild(star);
                    }
                })
                .catch(error => {
                    console.error(`Error loading average rating for product ${productId}:`, error);
                });

            // Проверяем, есть ли сохраненная оценка в localStorage
            const savedRating = localStorage.getItem(`product_${productId}_rating`);
            if (savedRating) {
                // Находим звездочку, соответствующую сохраненной оценке, и обновляем состояние звезд
                const stars = card.querySelectorAll('.rating .star');
                stars.forEach(star => {
                    const starValue = parseInt(star.getAttribute('data-value'));
                    if (starValue <= parseInt(savedRating)) {
                        star.textContent = '★';
                        star.classList.add('active'); // Добавляем класс для активной звезды
                    } else {
                        star.textContent = '☆';
                        star.classList.remove('active'); // Удаляем класс для неактивной звезды
                    }
                });
            }
        });
    });

    // Функция для оценки продукта
    function updateStars(productId, ratingValue) {
        const accessToken = localStorage.getItem('access_token');
        const productCard = document.querySelector(`.product-card[data-product-id="${productId}"]`);

        if (!accessToken) {
            // Если токен отсутствует, скрываем звездочки
            const stars = productCard.querySelectorAll('.rating .star');
            stars.forEach(star => {
                star.style.display = 'none'; // Прячем звездочки, например, сделаем их невидимыми
            });
            return;
        }

        // Продолжаем обновление звездочек, если токен доступа есть
        if (productCard) {
            const stars = productCard.querySelectorAll('.rating .star');
            stars.forEach(star => {
                const starValue = parseInt(star.getAttribute('data-value'));
                if (starValue <= ratingValue) {
                    star.textContent = '★';
                    star.classList.add('active'); // Добавляем класс для активной звезды
                } else {
                    star.textContent = '☆';
                    star.classList.remove('active'); // Удаляем класс для неактивной звезды
                }
            });
        }
    }

    // Функция для отправки оценки продукта на сервер
    function rateProduct(starElement) {
        const productId = starElement.closest('.product-card').getAttribute('data-product-id');
        const ratingValue = parseInt(starElement.getAttribute('data-value'));

        const accessToken = localStorage.getItem('access_token');
        if (!accessToken) {
            console.error('Access token not found. Unable to rate product.');
            return; // Выходим из функции, если токен отсутствует
        }

        // Проверяем срок действия токенов перед отправкой запроса
        checkTokenExpiration();

        const customerId = localStorage.getItem('customerId');

        const ratingData = {
            rating: ratingValue,
            productId: productId,
            customerId: customerId
        };

        // Отправляем запрос на сервер для оценки продукта
        fetch(`/ratings/${productId}/rate`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + accessToken
            },
            body: JSON.stringify(ratingData)
        })
            .then(response => {
                if (!response.ok) {
                    if (response.status === 401) { // Проверяем статус 401 (Unauthorized)
                        logout(); // Вызываем logout при неавторизованном доступе
                        throw new Error('Unauthorized: User logged out');
                    }
                    throw new Error('Failed to rate product');
                }
                return response.json(); // Получаем JSON-ответ
            })
            .then(data => {
                console.log('Product rated successfully:', data.message);
                // Сохраняем оценку в localStorage
                localStorage.setItem(`product_${productId}_rating`, ratingValue.toString());
                // Обновляем звездочки для текущего продукта
                updateStars(productId, ratingValue);
                // Обновляем общий рейтинг продукта
                updateAverageRating(productId);
            })
            .catch(error => {
                console.error('Error rating product:', error);
            });
    }

    // Функция для обновления среднего рейтинга продукта на странице
    function updateAverageRating(productId) {

        // Отправляем запрос на сервер для получения обновленного среднего рейтинга продукта
        fetch(`/products/${productId}/rating`)
            .then(response => response.json())
            .then(averageRating => {
                // Находим карточку продукта по ID
                const productCard = document.querySelector(`.product-card[data-product-id="${productId}"]`);
                if (productCard) {
                    // Находим контейнер для среднего рейтинга в текущей карточке продукта
                    const averageRatingContainer = productCard.querySelector('.average-rating');
                    if (averageRatingContainer) {
                        // Очищаем контейнер
                        averageRatingContainer.innerHTML = '';
                        // Создаем звездочки для отображения обновленного среднего рейтинга
                        for (let i = 1; i <= 5; i++) {
                            const star = document.createElement('span');
                            star.textContent = i <= averageRating ? '★' : '☆';
                            averageRatingContainer.appendChild(star);
                        }
                    }
                }
            })
            .catch(error => {
                console.error(`Error updating average rating for product ${productId}:`, error);
            });
    }

    // При загрузке страницы, проверяем наличие сохраненных оценок и обновляем звездочки
    document.addEventListener('DOMContentLoaded', function() {
        const productCards = document.querySelectorAll('.product-card');
        productCards.forEach(card => {
            const stars = card.querySelectorAll('.rating .star');
            stars.forEach(star => {
                star.addEventListener('click', function() {
                    rateProduct(star);
                });
            });

            // Загружаем и отображаем средний рейтинг для текущего продукта
            const productId = card.getAttribute('data-product-id');
            fetch(`/products/${productId}/rating`)
                .then(response => response.json())
                .then(averageRating => {
                    const averageRatingContainer = card.querySelector('.average-rating');
                    averageRatingContainer.innerHTML = '';
                    for (let i = 1; i <= 5; i++) {
                        const star = document.createElement('span');
                        star.textContent = i <= averageRating ? '★' : '☆';
                        averageRatingContainer.appendChild(star);
                    }
                })
                .catch(error => {
                    console.error(`Error loading average rating for product ${productId}:`, error);
                });

            // Проверяем, есть ли сохраненная оценка в localStorage
            const savedRating = localStorage.getItem(`product_${productId}_rating`);
            if (savedRating) {
                updateStars(productId, parseInt(savedRating));
                updateAverageRating(productId); // Обновление общего рейтинга при загрузке страницы
            }
        });
    });




</script>
</body>
</html>